.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 90vh;
      /* background: linear-gradient(180deg,#e1ffea22,#a7f6f6 60%); */

}
.popular h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 768px) {
  .popular {
    height: auto;
    padding: 20px;
  }
  .popular h1 {
    font-size: 30px;
    text-align: center;
  }
  .popular-item {
    gap: 15px;
    margin-top: 30px;
  }
}