.offers{
    width: 65%;
    min-height: 60vh;
    display: flex;
    margin: 150px auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #e1ffea22,#a7f6f6 60%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: #171717;
    font-size: 40px;
}
.offers-left p{
     color: #171717;
    font-size:18px;
    font-weight: 600;
}
.offers-left button{
    width: 200px;
    height: 40px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.offers-right img{
    height: 330px;
}

@media (max-width: 768px) {
  .offers {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .offers-left h1 {
    font-size: 25px;
    text-align: center;
  }
  .offers-left p {
    text-align: center;
  }
  .offers-left button {
    margin: 30px auto;
  }
  .offers-right {
    margin-top: 30px;
    justify-content: center;
  }
  .offers-right img {
    height: auto;
    width: 100%;
    max-width: 300px;
  }
}